---
version: 2.1

orbs:
  win: circleci/windows@2.2.0

_refs:
  defaults: &defaults
    working_directory: ~/cli
    docker:
      - image: node:12
  ssh-config: &ssh-config
    fingerprints:
      - ''
  restore_cache: &restore_cache
    keys:
      - v1-npm-{{checksum ".circleci/config.yml"}}-{{checksum "yarn.lock"}}
      - v1-npm-{{checksum ".circleci/config.yml"}}
  lint: &lint
    name: Lint source files
    command: yarn lint
  gh-config: &gh-config
    name: Configuring GitHub
    command: |
      git config credential.helper 'cache --timeout=120'
      git config user.email "$GH_EMAIL"
      git config user.name "Release Bot"
  install: &install
    name: Install dependencies
    command: |
      yarn --version
      node --version
      yarn
  build: &build
    name: Build project
    command: yarn build
  test: &test
    name: Run tests
    command: yarn test

parameters:
  publish:
    type: boolean
    default: false

jobs:
  node-latest: &node-test
    docker:
      - image: node:latest
    working_directory: ~/cli
    steps:
      - checkout
      - restore_cache: *restore_cache
      - run: *install
      - run: *lint
      - run: *build
      - run: *test
  node-12:
    <<: *node-test
    docker:
      - image: node:12
  node-10:
    <<: *node-test
    docker:
      - image: node:10
  cache:
    <<: *node-test
    steps:
      - checkout
      - run: *install
      - save_cache:
          key: v1-npm-{{checksum ".circleci/config.yml"}}-{{checksum "yarn.lock"}}
          paths:
            - ~/cli/node_modules
            - /usr/local/share/.cache/yarn
            - /usr/local/share/.config/yarn
  run-win-tests:
    description: 'Run tests on Windows'
    executor: win/default
    steps:
      - run: git config --global core.autocrlf false
      - checkout
      - restore_cache:
          keys:
            - dependency-cache-win1-{{checksum ".circleci/config.yml"}}-{{checksum "yarn.lock"}}
            # if cache for exact version of 'package.json' is not present, then load the most recent cache
            - dependency-cache-win1-
      - run: *install
      - save_cache:
          key: dependency-cache-win1-{{checksum ".circleci/config.yml"}}-{{checksum "yarn.lock"}}
          paths:
            - node_modules
      - run: *lint
      - run: *build
      - run: *test
  publish:
    <<: *defaults
    steps:
      - add_ssh_keys: *ssh-config
      - checkout
      - restore_cache: *restore_cache
      - run: *gh-config
      - run: *install
      - run: *build
      - run:
          name: Bump package version
          command: |
            yarn bump-versions patch
            git add .
            export RELEASE_TAG="$(node -pe "require('./packages/apex-node/package.json').version")"
            git commit -m "Updated version $RELEASE_TAG"
      - run:
          name: Set .npmrc
          command: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
      - run: yarn publish-apex
      - run: git push origin main
      - run:
          name: Tag the release and push to repo
          command: |
            export RELEASE_TAG="$(node -pe "require('./packages/apex-node/package.json').version")"
            git tag v${RELEASE_TAG}
            git push --tags

workflows:
  version: 2
  'salesforcedx-apex':
    jobs:
      - node-latest
      - node-12
      - node-10
      - cache:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - run-win-tests
      - publish:
          filters:
            branches:
              only:
                - main
          requires:
              - run-win-tests
              - node-latest
              - node-12
              - node-10

