name: validate pr
on:
  pull_request:
    types: [opened, reopened, edited]
    branches: [main]

jobs:
  pr-validation:
    uses: salesforcecli/github-workflows/.github/workflows/validatePR.yml@main
  format-check: 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install modules
      run: yarn
    - name: Check Format
      run: yarn format:check
